.header-box {
  background-color: rgb(177, 52, 52);
  min-width: 90vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  min-width: 70vw;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: rgb(255, 255, 255);
  }
}