

.search-box {
  min-width: 40%;
  min-height: 30%;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-base {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  width: 100%;
  min-height: 90vh;
  * {
    margin: 10px 0;
  }
}